#giphy-results {
  /*   border: 2px solid red; */
  /* display: grid */
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
  /*   grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) ); */
  }